body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #157c40;
}

header {
    background: #e01b1b;
    color: white;
    padding: 15px;
    text-align: center;
}
img{
    width: 100vw;
height: 100wv;
object-fit: cover;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    background: rgb(45, 167, 15);
    margin: 20px;
    border-radius: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
}

